/**
 * some global styles here
 */
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* sticky footer */
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
